# Stock Tracker Notebook

This is a new notebook for your stock tracking analysis.

In [ ]:
from massive import RESTClient

client = RESTClient("MX8dLTzDgcUHHLh6GNE12iOzitcS_HCH")

items = []
for item in client.list_benzinga_news_v2(
    limit="100",
    sort="published.desc",
):
    items.append(item)

print(items)

In [1]:
import yfinance as yf
stock = yf.Ticker("NFLX")

ES = stock.get_earnings_dates()
ES.head()

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2026-01-20 16:00:00-05:00          0.55           NaN          NaN
2025-10-21 16:00:00-04:00          0.70          0.59       -15.79
2025-07-17 16:00:00-04:00          0.71          0.72         1.95
2025-04-17 16:00:00-04:00          0.57          0.66        16.37
2025-01-21 16:00:00-05:00          0.42          0.43         1.41

NameError: name 'ticker' is not defined

In [1]:
import defeatbeta_api
from defeatbeta_api.data.ticker import Ticker

[nltk_data] Error loading punkt_tab: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1032)>

______      __           _    ______      _
|  _  \    / _|         | |   | ___ \    | |
| | | |___| |_ ___  __ _| |_  | |_/ / ___| |_ __ _
| | | / _ \  _/ _ \/ _` | __| | ___ \/ _ \ __/ _` |
| |/ /  __/ ||  __/ (_| | |_  | |_/ /  __/ || (_| |
|___/ \___|_| \___|\__,_|\__| \____/ \___|\__\__,_|
ðŸ“ˆ:: Data Update Time ::	2025-12-07 ::
ðŸ“ˆ:: Software Version ::	0.0.27      ::

In [ ]:
ticker = Ticker('TSLA')
transcripts = ticker.earning_call_transcripts()
transcripts.get_transcripts_list()

,symbol,fiscal_year,fiscal_quarter,report_date,transcripts,transcripts_id
0,TSLA,2011,2,2011-08-03,"[{'paragraph_number': 1, 'speaker': 'Executive...",303288
1,TSLA,2011,3,2011-11-03,"[{'paragraph_number': 1, 'speaker': 'Executive...",303289
2,TSLA,2011,4,2012-02-16,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303290
3,TSLA,2012,1,2012-05-09,"[{'paragraph_number': 1, 'speaker': 'Executive...",303291
4,TSLA,2012,2,2012-07-25,"[{'paragraph_number': 1, 'speaker': 'Executive...",303292
5,TSLA,2012,3,2012-11-05,"[{'paragraph_number': 1, 'speaker': 'Executive...",303293
6,TSLA,2012,4,2013-02-20,"[{'paragraph_number': 1, 'speaker': 'Executive...",303294
7,TSLA,2013,1,2013-05-08,"[{'paragraph_number': 1, 'speaker': 'Executive...",303295
8,TSLA,2013,2,2013-08-07,"[{'paragraph_number': 1, 'speaker': 'Executive...",303296
9,TSLA,2013,3,2013-11-05,"[{'paragraph_number': 1, 'speaker': 'Executive...",303297
10,TSLA,2013,4,2014-02-19,"[{'paragraph_number': 1, 'speaker': 'Executive...",303298
11,TSLA,2014,1,2014-05-08,"[{'paragraph_number': 1, 'speaker': 'Executive...",303299
12,TSLA,2014,2,2014-08-01,"[{'paragraph_number': 1, 'speaker': 'Executive...",303300
13,TSLA,2014,3,2014-11-05,"[{'paragraph_number': 1, 'speaker': 'Executive...",303301
14,TSLA,2014,4,2015-02-12,"[{'paragraph_number': 1, 'speaker': 'Executive...",303302
15,TSLA,2015,1,2015-05-05,"[{'paragraph_number': 1, 'speaker': 'Executive...",303303
16,TSLA,2015,2,2015-07-30,"[{'paragraph_number': 1, 'speaker': 'Executive...",303304
17,TSLA,2015,3,2015-10-30,"[{'paragraph_number': 1, 'speaker': 'Executive...",303305
18,TSLA,2015,4,2016-02-10,"[{'paragraph_number': 1, 'speaker': 'Executive...",303306
19,TSLA,2016,1,2016-05-05,"[{'paragraph_number': 1, 'speaker': 'Executive...",303308
20,TSLA,2016,2,2016-08-03,"[{'paragraph_number': 1, 'speaker': 'Executive...",303310
21,TSLA,2016,3,2016-10-27,"[{'paragraph_number': 1, 'speaker': 'Executive...",303312
22,TSLA,2016,4,2017-02-23,"[{'paragraph_number': 1, 'speaker': 'Executive...",303314
23,TSLA,2017,1,2017-05-04,"[{'paragraph_number': 1, 'speaker': 'Executive...",303316
24,TSLA,2017,2,2017-08-03,"[{'paragraph_number': 1, 'speaker': 'Executive...",303318
25,TSLA,2017,3,2017-11-02,"[{'paragraph_number': 1, 'speaker': 'Executive...",303320
26,TSLA,2017,4,2018-02-07,"[{'paragraph_number': 1, 'speaker': 'Executive...",303322
27,TSLA,2018,1,2018-05-03,"[{'paragraph_number': 1, 'speaker': 'Executive...",303324
28,TSLA,2018,2,2018-08-02,"[{'paragraph_number': 1, 'speaker': 'Executive...",303327
29,TSLA,2018,3,2018-10-25,"[{'paragraph_number': 1, 'speaker': 'Executive...",303329
30,TSLA,2018,4,2019-01-31,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303331
31,TSLA,2019,1,2019-04-25,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303333
32,TSLA,2019,2,2019-07-24,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303335
33,TSLA,2019,3,2019-10-24,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303337
34,TSLA,2019,4,2020-01-30,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303339
35,TSLA,2020,1,2020-04-29,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303341
36,TSLA,2020,2,2020-07-22,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303343
37,TSLA,2020,3,2020-10-21,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303345
38,TSLA,2020,4,2021-01-27,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303347
39,TSLA,2021,1,2021-04-27,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303349
40,TSLA,2021,2,2021-07-26,"[{'paragraph_number': 1, 'speaker': 'Operator'...",303350
41,TSLA,2021,3,2021-10-20,"[{'paragraph_number': 1, 'speaker': 'Lars Mora...",303352
42,TSLA,2021,4,2022-01-26,"[{'paragraph_number': 1, 'speaker': 'Martin Vi...",303355
43,TSLA,2022,1,2022-04-20,"[{'paragraph_number': 1, 'speaker': 'Martin Vi...",303358
44,TSLA,2022,2,2022-07-20,"[{'paragraph_number': 1, 'speaker': 'Martin Vi...",303360
45,TSLA,2022,3,2022-10-19,"[{'paragraph_number': 1, 'speaker': 'Martin Vi...",303362
46,TSLA,2022,4,2023-01-25,"[{'paragraph_number': 1, 'speaker': 'Martin Vi...",303364
47,TSLA,2023,1,2023-04-19,"[{'paragraph_number': 1, 'speaker': 'Martin Vi...",303366
48,TSLA,2023,2,2023-07-19,"[{'paragraph_number': 1, 'speaker': 'Martin Vi...",303370
49,TSLA,2023,3,2023-10-18,"[{'paragraph_number': 1, 'speaker': 'Elon Musk...",303372
50,TSLA,2023,4,2024-01-24,"[{'paragraph_number': 1, 'speaker': 'Martin Vi...",303374
51,TSLA,2024,1,2024-04-23,"[{'paragraph_number': 1, 'speaker': 'Martin Vi...",303376
52,TSLA,2024,2,2024-07-24,"[{'paragraph_number': 1, 'speaker': 'Travis Ax...",303378
53,TSLA,2024,3,2024-10-23,"[{'paragraph_number': 1, 'speaker': 'Travis Ax...",303380
54,TSLA,2024,4,2025-01-29,"[{'paragraph_number': 1, 'speaker': 'Operator'...",486436
55,TSLA,2025,1,2025-04-22,"[{'paragraph_number': 1, 'speaker': 'AI Insigh...",<NA>
56,TSLA,2025,2,2025-07-23,"[{'paragraph_number': 1, 'speaker': 'Travis Ax...",<NA>
57,TSLA,2025,3,2025-10-22,"[{'paragraph_number': 1, 'speaker': 'Travis Ax...",<NA>

In [1]:
import yfinance as yf

ticker = yf.Ticker("MSFT")

# Get upcoming and historic earnings dates
print(ticker.earnings_dates) 

# Get the Income Statement (Revenue, Net Income, etc.)
print(ticker.income_stmt)

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2026-01-28 16:00:00-05:00          3.86           NaN          NaN
2025-10-29 16:00:00-04:00          3.66          3.72         1.59
2025-07-30 16:00:00-04:00          3.38          3.65         8.09
2025-04-30 16:00:00-04:00          3.22          3.46         7.40
2025-01-29 16:00:00-05:00          3.10          3.23         4.06
2024-10-30 16:00:00-04:00          3.11          3.30         6.25
2024-07-30 16:00:00-04:00          2.94          2.95         0.23
2024-04-25 16:00:00-04:00          2.84          2.94         3.40
2024-01-30 16:00:00-05:00          2.77          2.93         5.83
2023-10-24 16:00:00-04:00          2.65          2.99        12.85
2023-07-25 16:00:00-04:00          2.55          2.69         5.45
2023-04-25 16:00:00-04:00          2.23          2.45         9.77
2023-01-24 16:00:00-05:00          2.32          2.32         0.21
2022-10-25 16:00:00-04:00          2.31          2.35         1.92
2022-07-26 16:00:00-04:00          2.29          2.23        -2.69
2022-04-26 16:00:00-04:00          2.20          2.22         1.06
2022-01-25 16:00:00-05:00          2.32          2.48         6.97
2021-10-26 16:00:00-04:00          2.08          2.27         9.30
2021-07-27 16:00:00-04:00          1.93          2.17        12.71
2021-04-27 16:00:00-04:00          1.78          1.95         9.67
2021-01-26 16:00:00-05:00          1.64          2.03        23.99
2020-10-27 16:00:00-04:00          1.55          1.82        17.72
2020-07-22 16:00:00-04:00          1.37          1.46         6.42
2020-04-29 16:00:00-04:00          1.27          1.40        10.30
2020-01-29 16:00:00-05:00          1.32          1.51        13.96
                                                      2025-06-30  \
Tax Effect Of Unusual Items                        -7.708800e+07
Tax Rate For Calcs                                  1.760000e-01
Normalized EBITDA                                   1.606030e+11
Total Unusual Items                                -4.380000e+08
Total Unusual Items Excluding Goodwill             -4.380000e+08
Net Income From Continuing Operation Net Minori...  1.018320e+11
Reconciled Depreciation                             3.415300e+10
Reconciled Cost Of Revenue                          8.783100e+10
EBITDA                                              1.601650e+11
EBIT                                                1.260120e+11
Net Interest Income                                 2.620000e+08
Interest Expense                                    2.385000e+09
Interest Income                                     2.647000e+09
Normalized Income                                   1.021929e+11
Net Income From Continuing And Discontinued Ope...  1.018320e+11
Total Expenses                                      1.531960e+11
Total Operating Income As Reported                  1.285280e+11
Diluted Average Shares                              7.465000e+09
Basic Average Shares                                7.433000e+09
Diluted EPS                                         1.364000e+01
Basic EPS                                           1.370000e+01
Diluted NI Availto Com Stockholders                 1.018320e+11
Net Income Common Stockholders                      1.018320e+11
Net Income                                          1.018320e+11
Net Income Including Noncontrolling Interests       1.018320e+11
Net Income Continuous Operations                    1.018320e+11
Tax Provision                                       2.179500e+10
Pretax Income                                       1.236270e+11
Other Income Expense                               -5.163000e+09
Other Non Operating Income Expenses                -4.725000e+09
Special Income Charges                             -9.430000e+08
Write Off                                           9.430000e+08
Gain On Sale Of Security                            5.050000e+08
Net Non Operating Interest Income Expense           2.620000e+08
Interest Expense Non Operating                      2.385000e+09
Interest Income Non Operating                       2.647000e+09
Operating Income                                    1.285280e+11
Operating Expense                                   6.536500e+10
Research And Development                            3.248800e+10
Selling General And Administration                  3.287700e+10
Selling And Marketing Expense                       2.565400e+10
General And Administrative Expense                  7.223000e+09
Other Gand A                                        7.223000e+09
Gross Profit                                        1.938930e+11
Cost Of Revenue                                     8.783100e+10
Total Revenue                                       2.817240e+11
Operating Revenue                                   2.817240e+11

                                                      2024-06-30  \
Tax Effect Of Unusual Items                        -9.991800e+07
Tax Rate For Calcs                                  1.820000e-01
Normalized EBITDA                                   1.335580e+11
Total Unusual Items                                -5.490000e+08
Total Unusual Items Excluding Goodwill             -5.490000e+08
Net Income From Continuing Operation Net Minori...  8.813600e+10
Reconciled Depreciation                             2.228700e+10
Reconciled Cost Of Revenue                          7.411400e+10
EBITDA                                              1.330090e+11
EBIT                                                1.107220e+11
Net Interest Income                                 2.220000e+08
Interest Expense                                    2.935000e+09
Interest Income                                     3.157000e+09
Normalized Income                                   8.858508e+10
Net Income From Continuing And Discontinued Ope...  8.813600e+10
Total Expenses                                      1.356890e+11
Total Operating Income As Reported                  1.094330e+11
Diluted Average Shares                              7.469000e+09
Basic Average Shares                                7.431000e+09
Diluted EPS                                         1.180000e+01
Basic EPS                                           1.186000e+01
Diluted NI Availto Com Stockholders                 8.813600e+10
Net Income Common Stockholders                      8.813600e+10
Net Income                                          8.813600e+10
Net Income Including Noncontrolling Interests       8.813600e+10
Net Income Continuous Operations                    8.813600e+10
Tax Provision                                       1.965100e+10
Pretax Income                                       1.077870e+11
Other Income Expense                               -1.868000e+09
Other Non Operating Income Expenses                -1.319000e+09
Special Income Charges                             -2.060000e+08
Write Off                                           2.060000e+08
Gain On Sale Of Security                           -3.430000e+08
Net Non Operating Interest Income Expense           2.220000e+08
Interest Expense Non Operating                      2.935000e+09
Interest Income Non Operating                       3.157000e+09
Operating Income                                    1.094330e+11
Operating Expense                                   6.157500e+10
Research And Development                            2.951000e+10
Selling General And Administration                  3.206500e+10
Selling And Marketing Expense                       2.445600e+10
General And Administrative Expense                  7.609000e+09
Other Gand A                                        7.609000e+09
Gross Profit                                        1.710080e+11
Cost Of Revenue                                     7.411400e+10
Total Revenue                                       2.451220e+11
Operating Revenue                                   2.451220e+11

                                                      2023-06-30    2022-06-30
Tax Effect Of Unusual Items                        -2.850000e+06  4.375400e+07
Tax Rate For Calcs                                  1.900000e-01  1.310000e-01
Normalized EBITDA                                   1.051550e+11  9.990500e+10
Total Unusual Items                                -1.500000e+07  3.340000e+08
Total Unusual Items Excluding Goodwill             -1.500000e+07  3.340000e+08
Net Income From Continuing Operation Net Minori...  7.236100e+10  7.273800e+10
Reconciled Depreciation                             1.386100e+10  1.446000e+10
Reconciled Cost Of Revenue                          6.586300e+10  6.265000e+10
EBITDA                                              1.051400e+11  1.002390e+11
EBIT                                                9.127900e+10  8.577900e+10
Net Interest Income                                 1.026000e+09  3.100000e+07
Interest Expense                                    1.968000e+09  2.063000e+09
Interest Income                                     2.994000e+09  2.094000e+09
Normalized Income                                   7.237315e+10  7.244775e+10
Net Income From Continuing And Discontinued Ope...  7.236100e+10  7.273800e+10
Total Expenses                                      1.233920e+11  1.148870e+11
Total Operating Income As Reported                  8.852300e+10  8.338300e+10
Diluted Average Shares                              7.472000e+09  7.540000e+09
Basic Average Shares                                7.446000e+09  7.496000e+09
Diluted EPS                                         9.680000e+00  9.650000e+00
Basic EPS                                           9.720000e+00  9.700000e+00
Diluted NI Availto Com Stockholders                 7.236100e+10  7.273800e+10
Net Income Common Stockholders                      7.236100e+10  7.273800e+10
Net Income                                          7.236100e+10  7.273800e+10
Net Income Including Noncontrolling Interests       7.236100e+10  7.273800e+10
Net Income Continuous Operations                    7.236100e+10  7.273800e+10
Tax Provision                                       1.695000e+10  1.097800e+10
Pretax Income                                       8.931100e+10  8.371600e+10
Other Income Expense                               -2.380000e+08  3.020000e+08
Other Non Operating Income Expenses                -2.230000e+08 -3.200000e+07
Special Income Charges                             -3.000000e+07 -1.010000e+08
Write Off                                           3.000000e+07  1.010000e+08
Gain On Sale Of Security                            1.500000e+07  4.350000e+08
Net Non Operating Interest Income Expense           1.026000e+09  3.100000e+07
Interest Expense Non Operating                      1.968000e+09  2.063000e+09
Interest Income Non Operating                       2.994000e+09  2.094000e+09
Operating Income                                    8.852300e+10  8.338300e+10
Operating Expense                                   5.752900e+10  5.223700e+10
Research And Development                            2.719500e+10  2.451200e+10
Selling General And Administration                  3.033400e+10  2.772500e+10
Selling And Marketing Expense                       2.275900e+10  2.182500e+10
General And Administrative Expense                  7.575000e+09  5.900000e+09
Other Gand A                                        7.575000e+09  5.900000e+09
Gross Profit                                        1.460520e+11  1.356200e+11
Cost Of Revenue                                     6.586300e+10  6.265000e+10
Total Revenue                                       2.119150e+11  1.982700e+11
Operating Revenue                                   2.119150e+11  1.982700e+11